@import '../base/_variables.scss';



.header {
  min-height: 600px;
}



.skills {
  &__title {
    margin-bottom: 40px;
  }

  &__graph {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-top: 50px;

    &__inner {
      width: 40%;
    }

    &__inner + &__inner {
      margin-left: 100px;
    }
  }


  &__skill {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__title { min-width: 100px;
      text-align: left;
    }

    &__bar {
      background-color: $color-primary;
      text-align: right;

      margin-left: 30px;
      padding: 0 20px;
      border-radius: 100px;


      &.experienced {
        width: 70%;
      }

      &.pretty-good {
        width: 50%;
      }

      &.good {
        width: 30%;
      }

      &.rookie {
        width: 25%;
      }
    }
  }

  &__skill + &__skill {
    margin-top: 10px;
  }


  @media screen and (max-width: $bp-tablet) {
    &__title {
      margin-bottom: 20px;
    }

    /* graph */
    &__graph {
      flex-direction: column;

      margin-top: 30px;
    }

    &__graph__inner {
      width: 100%;
    }

    &__graph__inner + &__graph__inner {
      margin-left: 0;
      margin-top: 50px;
    }


    /* skill */
    &__skill {
      flex-direction: column;
    }

    &__skill__title {
      text-align: center;
      min-width: inherit;
      margin-bottom: 3px;
    }

    &__skill__bar {
      margin-left: 0;

      /*&.experienced {*/
        /*width: 200px;*/
      /*}*/

      /*&.pretty-good {*/
        /*width: 150px;*/
      /*}*/

      /*&.good {*/
        /*width: 100px;*/
      /*}*/

      /*&.rookie {*/
        /*width: inherit;*/
      /*}*/
    }

  }
}



.services {
  &__title {
    margin-bottom: 30px;
  }

  &__amp {
    width: initial !important;
    margin-left: 10px;
    margin-right: 10px;

    h1 {
      color: $color-primary;
    }
  }

  &__services-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__service {
    width: 15%;
    text-align: center;
  }

  &__service + &__service {
    margin-left: 20px;
  }


  @media screen and (max-width: $bp-tablet) {
    &__amp {
      display: none;
    }

    &__services-flex {
      flex-direction: column;
    }

    &__service {
      width: 50%;
      text-align: center;
      margin: 0 auto;
    }

    &__service + &__service {
      margin-left: auto;
      margin-top: 20px;
    }

  }

  @media screen and (min-width: $bp-phone-large) and (max-width: $bp-tablet) {
    &__service {
      width: 30%;
    }
  }
}



.works {
  &__slides {
    overflow: hidden;
    margin-top: 100px;
  }

  &__work {
    display: none;
    justify-content: space-around;
    align-items: center;
    
    position: relative;
    right: -9999px;

    transition: all 300ms ease-in-out;

    &__left {
      width: 50%;
    }

    &__right {
      width: 40%;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__desc {
      margin-bottom: 50px;
    }

    &__coming-soon {
      font-size: 5em;
      padding: 100px 0;
    }

    &.show {
      display: flex;
    }

    &.active {
      right: 0;
    }

  }


  &__slides-nav {
    display: flex;
    justify-content: center;

    margin-top: 40px;

    &__bullet {
      width: 15px;
      height: 15px;

      border: 3px solid $color-default;
      border-radius: 50%;

      cursor: pointer;
    }

    &__bullet + &__bullet {
      margin-left: 20px;
    }

    &__bullet.active {
      background-color: $color-default;
    }
  }



  @media screen and (max-width: $bp-tablet) {
    &__slides {
      margin-top: 30px;
      overflow: inherit;
    }


    /* work */
    &__work {
      flex-direction: column;
    }

    &__work__coming-soon {
      font-size: 2em;
      padding: 30px 0;
    }

    &__work__left {
      width: 70%;
      margin-bottom: 20px;
    }

    &__work__right {
      width: 100%;
      text-align: center;
    }

    &__work__desc {
      margin-bottom: 40px;
    }

  }
}



.testimonials {

  &__title {
    margin-bottom: 50px;
  }

  &__quotes-img {
    width: 30px;

    margin-bottom: 30px;
  }

  &__slides {
    overflow: hidden;
  }

  &__testimonial {
    width: 50%;

    display: none;
    
    position: relative;
    right: -9999px;

    transition: all 300ms ease-in-out;

    p {
      font-family: $font-family-secondary;
      font-style: italic;
    }

    &__coming-soon {
      font-size: 5em;
      padding: 100px 0;
    }

    p + p {
      margin-top: 24px;
    }

    &.show {
      display: block;
    }

    &.active {
      right: 0;
    }
  }

  &__company-name {
    display: block;

    font-family: $font-family-primary;
    font-style: normal;

    margin-bottom: 20px;
  }

  &__company-logo {
    width: 30%;
  }


  &__slides-nav {
    display: flex;
    justify-content: center;

    margin-top: 40px;

    &__bullet {
      width: 15px;
      height: 15px;

      border: 3px solid $color-default;
      border-radius: 50%;

      cursor: pointer;
    }

    &__bullet + &__bullet {
      margin-left: 20px;
    }

    &__bullet.active {
      background-color: $color-default;
    }
  }


  @media screen and (max-width: $bp-tablet) {
    &__title {
      margin-bottom: 30px;
    }

    &__quotes-img {
      width: 20px;
      margin-bottom: 20px;
    }

    &__testimonial {
      width: 100%;
    }

    &__testimonial__coming-soon {
      font-size: 2em;
      padding: 30px 0;
    }

    &__company-logo {
      width: 50%;
    }
  }

  @media screen and (min-width: $bp-phone-large) and (max-width: $bp-tablet) {
    &__company-logo {
      width: 35%;
    }
  }
}



.contact {
  &__title {
    margin-bottom: 70px;
  }

  &__accounts {
    margin-top: 40px;

    &__account {
      color: $color-default;
      font-size: 2.5em;

      transition: all 150ms ease-in;
    }

    &__account:hover {
      color: $color-primary;
    }

    &__account:active {
      color: darken($color-primary, 5%);
    }

    &__account + &__account {
      margin-left: 30px;
    }
  }


  @media screen and (max-width: $bp-tablet) {

    &__title {
      margin-bottom: 50px;
    }

    &__accounts__account {
      font-size: 2em;
    }
  }
}
