<!DOCTYPE html>
<html lang="en">
<head>
  <title>Designer &#124; Developer</title>

  <meta charset="UTF-8">
  <meta name="theme-color" content="#252c41">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="public/images/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="public/images/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="public/images/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="public/images/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="public/images/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="public/images/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="public/images/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="public/images/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="public/images/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="public/images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="public/images/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="public/images/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="public/images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="public/images/favicons/manifest.json">
  <link rel="mask-icon" href="public/images/favicons/safari-pinned-tab.svg" color="#f1404b">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="msapplication-TileImage" content="public/images/favicons/mstile-144x144.png">


  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN" crossorigin="anonymous">

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css">
  <link rel="stylesheet" href="public/stylesheets/main.css">
  <link rel="stylesheet" href="public/stylesheets/pages/index.css">
</head>
<body>

  <header class="header container">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__list__item"><a class="nav__list__link" href="#about">About me</a></li>
        <li class="nav__list__item"><a class="nav__list__link" href="#works">Works</a></li>
        <li class="nav__list__item"><a class="nav__list__link" href="#contact">Contact</a></li>
      </ul>
    </nav>

    <section class="hero breath">
      <div class="hero__item hero__image">
        <img src="public/images/kq-outline.svg" alt="KQ Logo">
      </div>
      <div class="hero__item hero__description">
        <h3 class="color--default"><span class="color--primary">Hello</span> there&#33;</h3>
        <p>
          My name is <span class="color--primary h2--size">Joshua Tonga</span> and I'm a <span class="color--primary">Designer</span> 
          &amp; <span class="color--primary">Developer</span> for Web, 
          currently living in the Philippines.
        </p>
        <p>
          I am very passionate about <span class="color--primary">Web development</span> and I am constantly 
          learning new technologies, techniques, etc. I am experienced in both 
          <span class="color--primary">front</span> and <span class="color--primary">back&#45;end</span> development and 
          proficient in many technologies. In my free time, I'm playing games 
          with my friends and studying something that interest me.
        </p>
      </div>
    </section>
  </header>

  <div class="divider center">
    <hr class="divider__hr">
  </div>



  <section id="about" class="skills container center breath">
    <h2 class="bold">Technologies I&#39;ve experienced with</h2>

    <div class="skills__graph">
      <div class="skills__graph__inner">
        <h4 class="skills__title">Programming Languages, Databases, Others</h4>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Python</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Javascript</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Java</h4>

          <div class="skills__skill__bar good">
            <small class="bold">Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">HTML</h4>

          <div class="skills__skill__bar experienced">
            <small class="bold">Experienced</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">CSS</h4>

          <div class="skills__skill__bar experienced">
            <small class="bold">Experienced</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">SQL</h4>

          <div class="skills__skill__bar rookie">
            <small class="bold">Rookie</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">NoSQL</h4>

          <div class="skills__skill__bar good">
            <small class="bold">Good</small>
          </div>
        </div>
      </div>


      <div class="skills__graph__inner">
        <h4 class="skills__title">Frameworks, Libraries, Etc</h4>

        <div class="skills__skill">
          <h4 class="skills__skill__title">React.js</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Node.js</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Express.js</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Django</h4>

          <div class="skills__skill__bar good">
            <small class="bold">Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">SCSS</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">jQuery</h4>

          <div class="skills__skill__bar experienced">
            <small class="bold">Experienced</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Git</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Photoshop</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Illustrator</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="divider center">
    <hr class="divider__hr">
  </div>



  <section class="services container breath--50">
    <h2 class="services__title bold center">Services</h2>

    <div class="services__services-flex">
      <div class="services__service">
        <img src="public/images/web-design.svg" alt="Web Design">
        <h3>Web Design</h3>
      </div>
      <div class="services__service services__amp">
        <h1>&amp;</h1>
      </div>
      <div class="services__service">
        <img src="public/images/web-dev.svg" alt="Web Development">
        <h3>Development</h3>
      </div>
    </div>
  </section>

  <div class="divider center">
    <hr class="divider__hr">
  </div>



  <section id="works" class="works container breath">
    <h2 class="bold center">Works</h2>

    <div class="works__slides">
      <div class="works__work show active">
        <div class="works__work__left">
          <img src="public/images/remuv-shots.png" alt="Remuv website" />
        </div>

        <div class="works__work__right">
          <h1 class="works__work__title color--default">Remuv</h1>
          <p class="works__work__desc">Remüv provides control system development platforms 
            revolutionizing today&#39;s control practices by focusing on 
            support for the Industrial Internet of Things (IIoT).</p>

          <a class="btn btn--secondary" target='_blank' href="https://remuv.io">Visit Website</a>
        </div>
      </div>

      <div class="works__work">
        <h1 class="works__work__coming-soon">Coming <span class="color--primary">Soon</span></h1>
      </div>

      <div class="works__work">
        <h1 class="works__work__coming-soon">Coming <span class="color--primary">Soon</span></h1>
      </div>
    </div>


    <nav class="works__slides-nav">
      <div class="works__slides-nav__bullet active"></div>
      <div class="works__slides-nav__bullet"></div>
      <div class="works__slides-nav__bullet"></div>
    </nav>

  </section>

  <div class="divider center">
    <hr class="divider__hr">
  </div>



  <section class="testimonials container breath--50">
    <h2 class="testimonials__title bold center">What they&#39;re saying...</h2>

    <div class="testimonials__slides">
      <div class="testimonials__testimonial center show active">
        <img class="testimonials__quotes-img"src="public/images/quotes.svg"alt="Quotes Icon">
        <p>
          Remuv Technologies, Inc. contracted Joshua to build a static frontend 
          website to give the company an online presence. 
        </p>
        <p>
          The work delivered by Joshua far exceeded our expectations. He provided 
          Remuv Technologies with a responsive framework that will enable the 
          to quickly and easily extend our website as our company grows. 
          I would recommend Joshua to any company, project or organization 
          looking for a committed full-stack developer. 
        </p>
        <p>
          Full-stack engineers with an eye for design and a passion for 
          writing good code are hard to find, you can confidently end your search 
          with Joshua. Look forward to Joshua being easy to get ahold of and 
          driven to follow up with any and all change requests, without protest. 
          It was a pleasure working with Joshua, this will certainly not be 
          the last project he completes for Remuv.
        </p>

        <p>
          Alex Hendren, Lead System Architect
          <span class="testimonials__company-name">Remuv Technologies</span>
        </p>

        <div class="testimonials__company-logo center">
          <img src="public/images/remuv-logo.svg" alt="Remuv Logo">
        </div>
      </div>


      <div class="testimonials__testimonial center">
        <h1 class="testimonials__testimonial__coming-soon">Coming <span class="color--primary">Soon</span></h1>
      </div>



      <div class="testimonials__testimonial center">
        <h1 class="testimonials__testimonial__coming-soon">Coming <span class="color--primary">Soon</span></h1>
      </div>


    <nav class="testimonials__slides-nav">
      <div class="testimonials__slides-nav__bullet active"></div>
      <div class="testimonials__slides-nav__bullet"></div>
      <div class="testimonials__slides-nav__bullet"></div>
    </nav>

  </section>

  <div class="divider center">
    <hr class="divider__hr">
  </div>



  <section id="contact" class="contact center breath">
    <h2 class="contact__title bold center">Let&#39;s talk</h2>

    <a 
      class="btn btn--big text--uppercase tooltip" 
      href="mailto:hellojoshuatonga@gmail.com"
      title="Email me at hellojoshuatonga@gmail.com"
      >
      <i class="fa fa-envelope-o fa-icon--left"></i>
      Message me
    </a>

    <div class="contact__accounts">
      <a class="contact__accounts__account" target="_blank" href="https://github.com/hellojoshuatonga"><i class="fa fa-github"></i></a>
      <a class="contact__accounts__account" target="_blank" href="https://plus.google.com/112933305730117402291"><i class="fa fa-google-plus"></i></a>
      <a class="contact__accounts__account" target="_blank" href="https://twitter.com/imjoshuatonga"><i class="fa fa-twitter"></i></a>
      <a class="contact__accounts__account" target="_blank" href="https://dribbble.com/hellojoshuatonga""><i class="fa fa-dribbble"></i></a>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-smooth-scroll/1.7.2/jquery.smooth-scroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
  <script src="public/javascripts/script.js"></script>
</body>
</html>
