<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Designer &amp; Developer | Joshua Tonga</title>

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- CSS -->
  <link rel="stylesheet" href="public/stylesheets/main.css">
  <link rel="stylesheet" href="public/stylesheets/pages/index.css">
</head>
<body>

  <header class="header container">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__list__item"><a class="nav__list__link" href="#">About me</a></li>
        <li class="nav__list__item"><a class="nav__list__link" href="#">Works</a></li>
        <li class="nav__list__item"><a class="nav__list__link" href="#">Contact</a></li>
      </ul>
    </nav>

    <section class="hero breath">
      <div class="hero__item hero__image">
        <img src="public/images/kq-outline.svg" alt="KQ Logo">
      </div>
      <div class="hero__item hero__description">
        <h3 class="color--default"><span class="color--primary">Hello</span> there!</h3>
        <p>
          My name is <span class="color--primary h2--size">Joshua Tonga</span> and I'm a <span class="color--primary">Designer</span> 
          &amp; <span class="color--primary">Developer</span> for Web, 
          currently living in the Philippines.
        </p>
        <p>
          I am very passionate about <span class="color--primary">Web development</span> and I am constantly 
          learning new technologies, techniques, etc. I am experienced in both 
          <span class="color--primary">front</span> and <span class="color--primary">back-end</span> development and 
          proficient in many technologies. In my free time, I'm playing games 
          with my friends and studying something that interest me.
        </p>
      </div>
    </section>
    
    <div class="divider center">
      <hr class="divider__hr">
    </div>
    
  </header>


  <section class="skills center breath">
    <h2 class="bold">Technologies I've experienced with</h2>

    <div class="skills__graph">
      <div class="skills__graph__inner">
        <h4 class="skills__title">Programming Languages, Databases, Others</h4>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Python</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Javascript</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Java</h4>

          <div class="skills__skill__bar good">
            <small class="bold">Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">HTML</h4>

          <div class="skills__skill__bar experienced">
            <small class="bold">Experienced</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">CSS</h4>

          <div class="skills__skill__bar experienced">
            <small class="bold">Experienced</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">SQL</h4>

          <div class="skills__skill__bar rookie">
            <small class="bold">Rookie</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">NoSQL</h4>

          <div class="skills__skill__bar good">
            <small class="bold">Good</small>
          </div>
        </div>
      </div>


      <div class="skills__graph__inner">
        <h4 class="skills__title">Frameworks, Libraries, Etc</h4>

        <div class="skills__skill">
          <h4 class="skills__skill__title">React.js</h4>

          <div class="skills__skill__bar good">
            <small class="bold">Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Node.js</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Express.js</h4>

          <div class="skills__skill__bar good">
            <small class="bold">Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Django</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">SCSS</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">jQuery</h4>

          <div class="skills__skill__bar experienced">
            <small class="bold">Experienced</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Git</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Photoshop</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>

        <div class="skills__skill">
          <h4 class="skills__skill__title">Illustrator</h4>

          <div class="skills__skill__bar pretty-good">
            <small class="bold">Pretty Good</small>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="divider center">
    <hr class="divider__hr">
  </div>

  <script src="javascript/script.js"></script>
</body>
</html>
