@import '_variables.scss';

/* 
 * CSS Resets
 *
 * */

* {
	margin: 0;
	padding: 0;
  outline: 0;
	box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  background: -moz-linear-gradient(297deg, rgba(37,44,65,1) 0%, rgba(37,44,65,1) 46%, rgba(241,64,75,1) 200%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(37,44,65,1)), color-stop(46%, rgba(37,44,65,1)), color-stop(100%, rgba(241,64,75,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(297deg, rgba(37,44,65,1) 0%, rgba(37,44,65,1) 46%, rgba(241,64,75,1) 200%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(297deg, rgba(37,44,65,1) 0%, rgba(37,44,65,1) 46%, rgba(241,64,75,1) 200%); /* opera 11.10+ */
  background: -ms-linear-gradient(297deg, rgba(37,44,65,1) 0%, rgba(37,44,65,1) 46%, rgba(241,64,75,1) 200%); /* ie10+ */
  background: linear-gradient(153deg, rgba(37,44,65,1) 0%, rgba(37,44,65,1) 46%, rgba(241,64,75,1) 200%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252c41', endColorstr='#f1404b',GradientType=0 ); /* ie6-9 */
}

/* It's a color when you highlight a text in the webpage  */
::selection {
    background-color: $color-primary;
    color: $white;
}
::-moz-selection {
    background-color: $color-primary;
    color: $white;
}

/*::-webkit-input-placeholder {*/
  /*color: #e2e2e2;*/
  /*font-weight: 300;*/
/*}*/
/*::-moz-placeholder {*/
  /*color: #e2e2e2;*/
  /*font-weight: 300;*/
/*}*/
/*:-ms-input-placeholder {*/
  /*color: #e2e2e2;*/
  /*font-weight: 300;*/
/*}*/
/*input:-moz-placeholder {*/
  /*color: #e2e2e2;*/
  /*font-weight: 300;*/
/*}*/
