/* 
 * Color palette
 */
$red: #f1404b;
$dark-blue: #252c41;
$dark-white: #dddfe6;
$white: #f4f5f9;


$color-primary: $red;
$color-secondary: $dark-blue;
$color-default: $dark-white;
$color-default-alt: $white;


/* 
 * Z indexes 
 */


/* 
 * Font family
 */
$font-family-primary: Montserrat, 'Helvetica Neue', Helvetica, sans-serif;
$font-family-secondary: Arvo, Montserrat, 'Helvetica Neue', Helvetica, sans-serif;



/* 
 * Breakpoints
 */
$bp-phone-small: 320px;
$bp-phone-medium: 375px;
$bp-phone-large: 425px;

$bp-tablet: 768px;

$bp-laptop: 1024px;



/* 
 * Typograhpy 
 */
$h1-size: 2.250em;
$h2-size: 1.875em; // 30px
$h3-size: 1.500em;
$h4-size: 1.125em; // 18px
$font-normal-size: 1em;
$font-small-size: 0.750em;
