@import '../base/_variables.scss';

.btn {
  padding: 10px 25px;

  border: 3px solid $color-primary;
  border-radius: 100px;

  background-color: $color-primary;
  color: $color-default;

  transition: all 150ms ease-in;

  &:hover {
    color: $color-default-alt;
  }

  &:active {
    background-color: transparent;
  }

  /*
   * Types
   */
  &.btn--secondary {
    background-color: transparent;

    &:hover {
      color: $color-default-alt;
    }

    &:active {
      background-color: $color-primary;
    }
  }


  /*
   * Sizes
   */
  &.btn--big {
    padding: 10px 30px;

    font-size: 1.2em;

    i.fa {
      font-size: 1.2em;
    }
  }


  @media screen and (max-width: $bp-tablet) {
    padding: 10px 20px;

    &.btn--big {
      padding: 10px 25px;
    }
  }
}


