@import '../base/_variables.scss';

.tooltipster-kq {
  border: 2px solid $color-primary;
  border-radius: 100px; 

  background: $color-secondary;
  color: $color-default;

  .tooltipster-content {
    font-family: $font-family-primary;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 25px;
  }


  @media screen and (max-width: $bp-phone-large) {

    .tooltipster-content {
      padding: 10px;
      text-align: center;
    }
  }
}
